* {
    margin: 0;
    box-sizing: border-box;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
}

.container {
    max-width: 1950px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.align-center{
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

#todo-list li {
    padding: 15px;
    border: 1px solid #faa;
}

